* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sitka Banner", serif;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ffffff;
  padding: 0;
  text-align: center;
  font-size: 130%;
}

header img {
  width: 80%;
  height: auto;
}

header h1 {
  font-family: "Monotype Script W01 Bold", cursive;
}

section {
  padding: 1%;
  margin-top: 0%;
}

.sidebar {
  width: 15%;
  position: absolute;
  background-color: gray;
  margin-left: 1%;
  float: left;
  margin-top: 39%;
}

.sidebar ul {
  list-style-type: none;
  padding: 5px;
}

.sidebar li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 140%;
  color: rgb(64, 4, 4);
  display: block;
  padding: 5%;
}

.sidebar li a:hover {
  background: rgb(196, 192, 192);
  border-radius: 5px;
}

section.main {
  margin-left: 18%;
}

.row {
  display: flex;
  padding: 1%;
}

.column {
  flex: 1;
  padding: 5%;
  text-align: left;
  cursor: pointer;
}

.pName {
  font-size: 150%;
  color: rgb(100, 12, 12);
}

.pPrice {
  color: #000000;
  font-size: 120%;
  margin-bottom: 15%;
}

.pDescription {
  font-size: 100%;
  color: #000000;
}

img {
  width: 90%;
  height: auto;
}

footer {
  background-color: #3f0909;
  padding: 35px;
  text-align: center;
  margin-top: 19%;
  font-weight: lighter;
  color: rgba(131, 131, 131, 0.548);
}

footer a {
  text-decoration: none;
  color: rgba(131, 131, 131, 0.548);
}

ul.breadcrumbs {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  margin-bottom: 0;
}

ul.breadcrumbs li {
  float: right;
  margin-left: 3%;
  margin-right: 1%;
}

ul.breadcrumbs li a {
  display: block;
  color: white;
  padding: 15px 10px;
  text-decoration: none;
}

ul.breadcrumbs li a:hover {
  background-color: #65626291;
  border-radius: 8%;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 800px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  padding: 10px;
}

#close:hover {
  background-color: rgba(0, 0, 0, 0.398);
  border-top-right-radius: 5px;
}

#overlay-content img {
  height: auto;
  width: 300px;
  max-width: 100%;
  float: left;
  border: solid rgba(0, 0, 0, 0.398);
  border-radius: 5px;
  padding: 20px;
  margin-right: 40px;
}

#overlay-content p {
  color: #000000;
  text-align: justify;
  padding: 5px 40px;
}

#overlay-content h1 {
  color: #3f0909;
}
