* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sitka Banner";;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
  font-size: 35px;
}

header img {
  justify-content: center;
  width: 550px;
  height: 250px;
}

header h1 {
  font-family: "Monotype Script W01 Bold";
}

section {
  padding: 15px;
  margin-top: 3%;
}

/* sidebar from https://jsfiddle.net/QDCGv/ */
.sidebar {
  width: 250px;
  position: absolute;
  top: 57%;;
  bottom: 0;
  background-color:gray;
  height: 1990px;
  margin-left: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 10px;
}

.sidebar li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color:  rgb(64, 4, 4);
  display: block;
  padding: 5px;
}

.sidebar li a:hover {
  background: rgb(196, 192, 192);
}

section.main { margin-left: 250px; }

.row {
  display: flex;
  padding: 36px;
}

.column {
  flex: 1;
  padding: 36px;
  text-align: left;
  cursor: pointer;
}

.pName {
  font-size: 30px;
  color: rgb(100, 12, 12);
  margin-bottom: 0px;
  padding-bottom: 0px;
 
}

.pPrice{
  color: #000000;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 0px;
}

.pDescription {
  font-size: 20px;
  color: #000000;
  float: left;
}

img {
  width: 60%;
  height: 50%;
}

footer {
  background-color: #3f0909;
  padding: 35px;
  text-align: center;
  margin-top: auto;

  font-weight: lighter;
  color:rgba(131, 131, 131, 0.548);
}

footer a{
  text-decoration: none;
  color: rgba(131, 131, 131, 0.548);
}

@media (max-width: 600px) {
  .main-content {
    flex-direction: column;
  }
}

ul.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  margin-bottom: 80px;
}

ul.breadcrumbs li {
  float: left;
}

ul.breadcrumbs li a {
  display: block;
  color: white;
  text-align: center;
  margin: 8px;
  padding: 10px 12px;
  text-decoration: none;
}

ul.breadcrumbs li a:hover {
  background-color: #65626291;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

}

#overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;

}

#close {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  padding: 10px;
}

#close:hover {
  background-color: rgba(0, 0, 0, 0.398);
  border: 2px rgba(0, 0, 0, 0.398);
  border-top-right-radius: 5px;
}

#overlay-content img {
  height: 350px;
  width: 300px;
  float: left;
  border: solid rgba(0, 0, 0, 0.398);
  border-radius: 5px;
  padding: 20px;
  margin-right: 40px;
} 

#overlay-content p {
  color: #000000;
  text-align: justify;
  padding:  5px 40px;
}

#overlay-content h1 {
  color: #3f0909;
}

